#!/usr/bin/make -f

export PYBUILD_NAME = nodefacade

# Delete the nmosnode script when packaging for Python 3
export PYBUILD_AFTER_INSTALL_python3=rm -Rf '{destdir}/usr/bin'

%:
	dh $@ --with python2,python3,apache2,systemd --buildsystem=pybuild

# dh_installinit moans because dh_systemd installs its config files.
# This tells it to ignore the files

override_dh_installinit:
	dh_installinit --noscripts
